
  <div class="row">
    <div class="col-8">
      <% @images.each do |image| %>
        <div class="insta-image">
            <div class="image-meta">
              <%= image_tag ("inst.png"), width: "20px", class: "profile-pic"  %>
              <%= link_to image.user.username, profile_path(image.user.username), class: "text-dark"%>
            </div>
              <%= image_tag image.image, class: 'd-block w-100' %>
              <div class="post-details">
                <div class="post-actions">
                  <% pre_like = image.likes.find { |like| like.user_id == current_user.id} %>
                  <% if pre_like %>
                    <%= button_to 'Unlike', image_like_path(image, pre_like), method: :delete %>
                  <% else %>
                    <%= button_to 'Like', image_likes_path(image), method: :image %>
                  <% end %>
                  <p><strong><%= image.likes.count %> <%= (image.likes.count) == 1 ? 'Like' : 'Likes'%></strong></p>
                </div>
                 <p><strong> <%= link_to image.user.username, profile_path(image.user.username), class: "text-dark"%></strong> </p>

                <%= simple_format image.description %>
                <p class="text-muted"><%= time_ago_in_words image.created_at %></p>
              </div>
        </div>
        <% end %>
    </div>
    <div class="col-4">
        <div class="user-summary">
          <p><strong> You are authorized as: </strong></p>
          <p><strong> <%= image_tag ("inst.png"), width: "20px", class: "profile-pic"  %>

          <%= current_user.username %></strong><br />
            <%= current_user.full_name %></p>
        </div>


        </div>
    </div>
